

<div class="card block about-me">
  <div class="card-body">
    <p class="card-text">
      Hello, I'm a Computer Engineering graduate from Toronto Metropolitan University (formerly Ryerson), specializing in software development. I’m passionate about creating innovative software solutions and have experience working with various languages, frameworks, and technologies.
    </p>
    <p class="card-text">
      My project work spans software design, database management, and technical support, providing me with a broad understanding of development across multiple environments. I have a particular interest in game and web development.
    </p>
    <p class="card-text">
      During my co-op at Environment and Climate Change Canada, I gained hands-on experience supporting IT solutions and contributing to system improvements. I took on leadership roles in special projects, including the development of applications and workflows using the Microsoft Power Platform—such as automating data entry and notifications, as well as creating sophisticated end-user forms.
    </p>
  </div>
</div>


<div class="card block skills">
  <div class="card-body">
    <p class="card-text">
      <strong>Programming Languages and Frameworks:</strong><br>
      Java, Python, C, Angular, Node.js
    <p class="card-text">
      <strong>Database Management Systems:</strong><br>
      SQL, NoSQL, MongoDB
    </p>
    <p class="card-text">
      <strong>Professional Tools and Platforms:</strong><br>
      Power Automate, Power Apps, SharePoint, Axios assyst, ELK
    </p>
  </div>
</div>

<div class="card block skills-graphic" style="background: linear-gradient(to right, var(--primary), var(--text_body));">
  <div style="display: flex; justify-content: center; gap: 10px;">
    <img src="assets/java.png" class="skills-image">
    <img src="assets/python.png" class="skills-image">
    <img src="assets/angular.png" class="skills-image">
    <img src="assets/mysql.png" class="skills-image">
    <img src="assets/mongodb.png" class="skills-image">
  </div>
</div>


<div class="card block watch-list">
  <div class="card-body">
    <h5 class="card-title" style="font-weight: bold; margin-bottom: 1rem;">Watch-List</h5>
    <p class="card-text">
      <strong>Overview:</strong> Watch-List is a dynamic web application that allows users to search for TV shows, view detailed information, and maintain a personalized favorites list. The app leverages the TVMaze API for real-time show data like descriptions, ratings, and images.
    </p>
    <p class="card-text">
      <strong>Key Features:</strong>
    </p>
    <ul style="padding-left: 1.2rem; margin: 0;">
      <li><strong>Angular Frontend:</strong> Interactive and responsive user interface for searching and managing TV shows.</li>
      <li><strong>Node.js & Express Backend:</strong> Efficient API handling and server-side logic with RESTful architecture.</li>
      <li><strong>MongoDB:</strong> NoSQL database for storing user profiles and watchlists, ensuring data persistence.</li>
      <li><strong>Java Spring Boot Authentication:</strong> Secure login and profile management integrated with MongoDB.</li>
      <li><strong>Professional UI:</strong> Modern, user-friendly interface for an enhanced experience.</li>
    </ul>
    <p class="card-text" style="margin-top: 10px;">
      <strong>Skills:</strong> Full-Stack Development, NoSQL, Spring Boot, Angular, APIs
    </p>

    <a href="https://dhapper.github.io/watch-list/#/login" class="centered-link" target="_blank" rel="noopener noreferrer">
      View the Watch List Application
    </a>

  </div>
</div>

<div class="card block watch-list">
  <div style="display: flex; justify-content: center; gap: 10px;">
    <img src="assets/watchlist_login.jpg" alt="image of login page" class="watch-list-image">
    <img src="assets/watchlist_search.jpg" alt="image of search page" class="watch-list-image">
    <img src="assets/watchlist_profile.jpg" alt="image of profile page" class="watch-list-image">
  </div>
</div>

<div class="card block pokemon-app">
  <div class="card-body">
    <h5 class="card-title" style="font-weight: bold; margin-bottom: 1rem;">Pokémon App</h5>
    <p class="card-text">
      <strong>Overview:</strong> Pokémon App is a dynamic web application built with Angular that showcases a comprehensive Pokémon database. Users can explore various Pokémon generations, view detailed information, and enjoy an interactive, visually engaging experience. The app is deployed using GitHub Pages for accessibility and seamless navigation.
    </p>
    <p class="card-text">
      <strong>Key Features:</strong>
    </p>
    <ul style="padding-left: 1.2rem; margin: 0;">
      <li><strong>Angular Framework:</strong> Interactive and responsive UI for navigating through Pokémon generations and details.</li>
      <li><strong>API Integration:</strong> Real-time Pokémon data fetched via RESTful APIs for detailed stats and descriptions.</li>
      <li><strong>Routing:</strong> Seamless navigation between pages, enhancing user experience.</li>
      <li><strong>GitHub Pages Deployment:</strong> Fully deployed app accessible online for all users.</li>
      <li><strong>Professional UI:</strong> Clean and modern design with an intuitive user interface.</li>
    </ul>
    <p class="card-text">
      <strong>Technologies:</strong> Angular, TypeScript, RESTful APIs, HTML, CSS, GitHub Pages
    </p>
    <p class="card-text" style="margin-top: 10px;">
      <strong>Skills:</strong> Full-Stack Development, Angular, APIs, TypeScript, Front-End Web Development
    </p>
  
    <a href="https://dhapper.github.io/pokemon-app-angular/#/dex/1" class="centered-link" target="_blank" rel="noopener noreferrer">
      Link to the Pokémon App
    </a>  

  </div>
</div>


<div class="card block pokemon-app">
  
  <div style="display: flex; justify-content: center; gap: 10px;">
    <img src="assets/PAA_dex.png" alt="Pokédex page of Pokémon App" class="pokemon-app-image">
    <img src="assets/PAA_entry.png" alt="Pokémon entry page of Pokémon App" class="pokemon-app-image">
  </div>
</div>


<div class="card block rpg-game">
  <div class="card-body">
    <h5 class="card-title" style="font-weight: bold; margin-bottom: 1rem;">Action RPG Java Game</h5>
    <p class="card-text">
      <strong>Overview:</strong> Developed an Action RPG in Java using Java Swing, featuring a complex movement and combat system with dynamic character interactions. The game engine was built from scratch, offering customizable gameplay mechanics and smooth, responsive controls. The project also includes a map-making feature, allowing players to design and create their own levels, enhancing replayability and personalizing the gaming experience.
    </p>
    <p class="card-text" style="margin-top: 10px;">
      <strong>Skills:</strong> Java, Java Swing, Game Development, Game Design, Pixel Art
    </p>

    <a href="https://github.com/dhapper/indie-game" class="centered-link" target="_blank" rel="noopener noreferrer">
      Explore This Game on my GitHub
    </a>  

  </div>
</div>

<div class="card block" style="width: clamp(50%, 90vw, 80%);">
    <img src="assets/demo_p1.gif" alt="demo gameplay gif" class="rpg-gif">
</div>

<div class="card block" style="width: clamp(50%, 90vw, 80%);">
  <img src="assets/demo_p2.gif" alt="demo gameplay gif" class="rpg-gif">
</div>

<div style="width: 50%; height: 10vh; background-color: var(--primary);"></div>

<footer style="background-color: var(--accent_1s); padding: 10px; text-align: center; font-size: 14px; border-top: 1px solid #ddd; color: white;">
  Icons by <a class="link_pro" href="https://freeicons.io/profile/7391" style="color: #007bff; text-decoration: none;">icon king1</a> on 
  <a href="https://freeicons.io" style="color: #007bff; text-decoration: none;">freeicons.io</a>.
</footer>
