@keyframes appear {
    from {
        /* Starting state */
        scale: 0.5;
        opacity: 0;
    }
    30% {
        /* Gradually increase scale */
        scale: 1;
        opacity: 1;
    }
    70% {
        /* Maintain the largest scale */
        scale: 1;
        opacity: 1;
    }
    to {
        /* Return to the starting scale */
        scale: 0.5;
        opacity: 0;
    }
}

/* Styles for the original card */
.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 100%; /* Adjust the range to span the entire viewport */

    border: 2px solid var(--text_body);

    text-align: left;

    background-color: var(--accent_1);
    color: var(--text_body);

    margin: 0 auto;
}
  
:host {
    display: block;
    width: 100%;
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}

.about-me {
    font-size: clamp(1.4rem, 1.6vw, 2.4rem);
    width: clamp(50%, 90vw, 80%);

}

.skills {
    font-size: clamp(1.6rem, 1.6vw, 2.4rem);
    width: clamp(50%, 1.6vw, 80%);
}

.watch-list {
    font-size: clamp(1rem, 1.6vw, 2.4rem);
    width: clamp(50%, 90vw, 80%);
}

.pokemon-app {
    font-size: clamp(1rem, 1.6vw, 2.4rem);
    width: clamp(50%, 90vw, 80%);
}

.rpg-game {
    font-size: clamp(1rem, 1.6vw, 2.4rem);
    width: clamp(50%, 90vw, 80%);
}

.watch-list-image {
    width: 30%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1%;
    margin-right: 1%;
    border: 2px solid var(--primary);
}

.pokemon-app-image {
    width: 45%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1%;
    margin-right: 1%;
    border: 2px solid var(--primary);
}

.skills-image {
    width: 15%; /* Adjust the image width */
    height: auto; /* Maintain aspect ratio */
    margin: 5px; /* Add margin between images */
}

.rpg-gif {
    width: 90%;
    height: auto;
    margin: 1rem auto; /* Center horizontally and add top-bottom margin */
    border: 2px solid var(--primary);
    display: block; /* Ensures the image behaves as a block-level element */
}

.skills-graphic {
    width: clamp(50%, 90vw, 80%);
}

.centered-link {
    color: #00a6ff;
    text-decoration: none;
    display: block; /* Make the link a block element so it can be centered */
    text-align: center; /* Center the text inside the link */
    margin: 0 auto; /* Center the block element */
    font-weight: bold; /* Optional: Makes the text stand out */
    font-size: 1.2rem; /* Optional: Adjust the font size */
}

/* Hover effect */
.centered-link:hover {
    color: #007bff; /* Change color on hover */
    text-decoration: underline; /* Adds underline on hover for interactivity */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition */
}
