:root {
    --primary-color: #7ccafd;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:  border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-image: url(assets/toronto.jpg); */
    background-image: url(assets/toronto_v2.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    /* background: rgba(0,0,0,0.5); */
    color: #fff;
    position: relative;
}

body::after {
    content: '';
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: calc(100% - 100vh);
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

#header {
    width: 100%;
    height: 100vh;
    /* background-image: url(assets/toronto.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    text-shadow: 1px 1px 1px #080808;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-left: 5%;
    margin-top: 30%;
    font-size: 30px;
    text-shadow: 0px 0px 16px #080808;
    background-color: rgba(0, 0, 0, 0.4);
    width: fit-content;
    padding: 30px;
    border-radius: 32px;
    box-shadow: 0px 0px 32px black;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: var(--primary-color);
}

/* -------------------- about -------------------- */

#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 64px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: var(--primary-color);
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.experience-col, .education-col {
    flex-basis: 50%;
    margin-top: 20px;
}

.experience-col {
    margin-right: 30px;
}

.education-col {
    margin-left: 30px;
}

.sub-section h3 {
    color: #fff;
    margin-bottom: 10px;
}

.sub-section li{
    list-style: none;
    position: relative;
    margin-bottom: 10px;
}

.sub-section span {
    color: var(--primary-color);
}

.vertical-line {
    width: 2px;
    left: -1px;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: var(--primary-color);
}

.sub-section {
    display: flex;
}

/* -------------------- services -------------------- */

#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 16px;
    transition: background 0.5s, transform 0.5s, color 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: var(--primary-color);
    transform: translateY(-10px);
    color: #080808;
}

.services-list ul {
    margin-left: 30px;
    font-size: 16px;
}

.services-list ul li {
    margin: 10px;
}

/* -------------------- portfolio -------------------- */

#portfolio {
    padding: 50px 0;

}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 16px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5), var(--primary-color));
    border-radius: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
}

.layer h4 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--primary-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: var(--primary-color);
}

/* -------------------- contact -------------------- */

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: var(--primary-color);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--primary-color);
    display: inline-block;
    transition: scale 0.5s;
}

.social-icons a:hover {
    scale: 1.5;
    /* transform: translateY(-5px); */
}

.btn.btn2 {
    display: inline-block;
    /* background: var(--primary-color); */
    background: rgba(0, 0, 0, 0);
    color: var(--primary-color);
    transition: background 0.5s, color 0.5s;
}

.btn.btn2:hover {
    background: var(--primary-color);
    color: #080808;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 16px;
    border-color: var(--primary-color);
    border-width: 1px;
    border-style: solid;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px
}

.submit-btn-container {
    display: flex;

}

/* -------------------- project -------------------- */

.project-body::after {
    height: 100%;
    top: 0;
}

.project-body h1 {
    justify-self: center;
    margin: 30px;
}

.project-body h2 {
    justify-self: center;
    margin: 40px;
    color: var(--primary-color);
    margin-top: 60px;
}

.project-body h4 {
    justify-self: center;
    margin-top: -20px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
}

.tech-stack {
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    /* grid-template-columns: repeat(auto-fit, 10); */
    grid-gap: 40px;
    margin-top: 50px;
}

.tech {
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 40px 10px;
    background-color: rgba(0, 0, 0, 0);
     /* #262626; */
    justify-items: center;
    /* width: fit-content; */
    border-radius: 16px;
    border-width: 1px;
    border-color: var(--primary-color);
     /* #ababab; */
    border-style: solid;
    transition: scale 0.5s, background 0.5s, color 0.5s, border-radius 0.5s;
}

.tech h3 {
    font-size: 16px;
    margin-top: 10px;
    color: var(--primary-color);
}

.tech i {
    font-size: 32px;
    color: var(--primary-color);
}

.tech:hover {
    scale: 1.1;
    background-color: var(--primary-color);
    border-style: none;
    border-radius: 32px;
}

.tech:hover h3, .tech:hover i{
    color: rgba(0, 0, 0, 1);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-bottom: 30px;
}

.gallery img {
    width: 100%;
    margin-top: 30px;
    margin-right: 30px;
    border-radius: 16px;
    box-shadow: 0px 0px 16px #080808;
    border-style: solid;
    border-width: 2px;
    border-color: #080808;
}


.btn.btn2.btn3 {
    background: rgba(0, 0, 0, 0);
    color: #ababab;
    border-color: #ababab;
    width: fit-content;
    margin-bottom: 0;
    transition: transform 0.5s, border-color 0.5s, color 0.5s;
    font-size: 16px;
}

.btn.btn2.btn3:hover {
    color: #ce5151;
    border-color: #ce5151;
    transform: translateX(-10px);
}

.btn.btn2.btn3.btn4 {
    background: rgba(0, 0, 0, 0);
    color: #61b752;
    border-color: #61b752;
    width: fit-content;
    margin-bottom: 0;
    transition: background 0.5s, color 0.5s, scale 0.5s;
    justify-self: center;
}

.btn.btn2.btn3.btn4:hover {
    transform: translateX(0px);
    background: #61b752;
    color: #080808;
    scale: 1.1;
}

.project-btn {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

/* -------------------- attributions -------------------- */
.attributions p {
    margin: 10px;
    font-size: 16px;
}

/* -------------------- general -------------------- */

.attributions a, .copyright a {
    color: var(--primary-color);
    text-decoration: none;
}

.attributions a:hover, .copyright a:hover  {
    text-decoration: underline;
    color: cornflowerblue;
}


/* -------------------- css for small screens -------------------- */

nav .fa-solid {
    display: none;
}


@media only screen and (max-width: 600px) {

    #header {

    }

    .header-text {
        margin-top: 100%;
        font-size: 30px;
        margin-left: 0;
    }

    .header-text-h1  {
        font-size: 30px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: var(--primary-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25ps;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        color: #262626;
    }

    nav ul li a {
        color: #262626;
        text-shadow: none;
    }

    nav ul li a::after {
        background: #262626;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }

    .gallery img {
        max-width: calc(90% - 10px);     /* based on container margin */
    }

}

/* @media only screen and (min-width: 1000px) {
    body {
        background-image: url(assets/toronto-wide.jpeg);
    }
} */

#msg {
    color: #61b752;
    margin-top: -35px;
    display: block;
}