/* You can add global styles to this file, and also import other style files */

/* Define CSS variables inside the :root selector */
:root {
    --primary: #272727;
    --accent_1: #3d3d3d;
    --text_header: #ffae34;
    --text_body: #ffae34;
}

